In [38]:
import pandas as pd
import numpy as np
import os

In [39]:
home = "./"
final_file = "final/Employment_By_Industry.csv"
files = os.listdir(home)

head = ""
dataset_files = []
for file in files:
    if file == home + final_file:
        continue
    if file == "Total.csv":
        head = file
    elif file.endswith(".csv"):
        dataset_files.append(file)

In [40]:
head_df = pd.read_csv(home + head)

head_df = head_df.loc[head_df["own_code"] == 5] # 5 is private
head_df = head_df.loc[:, ["area_fips","month1_emplvl"]]
head_df = head_df.rename(columns={"area_fips":"fips", "month1_emplvl":"Total"})
head_df["fips"] = head_df["fips"].astype(str).str.zfill(5)
head_df

C:\Users\Hoppenot\AppData\Local\Temp\ipykernel_23836\2036294075.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  head_df = pd.read_csv(home + head)

        fips      Total
4      01000    1608569
10     01001       8517
15     01003      64337
20     01005       6499
25     01007       3555
...      ...        ...
19051  C4962     158557
19056  C4966     174682
19061  C4970      36545
19066  C4974      63424
19242  US000  125237028

[3716 rows x 2 columns]

In [41]:
columns = []
percent_columns = []
for dataset_file in dataset_files:
    df = pd.read_csv(home + dataset_file)
    df = df.loc[df["own_code"] == 5] # 5 is private
    df = df.loc[:, ["area_fips","month1_emplvl"]]
    df = df.rename(columns={"area_fips":"fips", "month1_emplvl":dataset_file[:-4]})

    columns.append(dataset_file[:-4])
    percent_columns.append(dataset_file[:-4]+"_pct")

    df["fips"] = df["fips"].astype(str).str.zfill(5)
    head_df = head_df.merge(df, on="fips", how="outer")
    head_df[dataset_file[:-4]+"_pct"] = head_df[dataset_file[:-4]] / head_df["Total"]

head_df["Largest"] = head_df[columns].idxmax(axis=1)
head_df.to_csv(home + final_file, index=False)